#cat-container{
    margin: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reload, #love{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 300px;
}
#reload{
    background-color: #4848e0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow:  -2px 1px 3px 0 gray;

}
#love{
    background-color: #d33333;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:  2px 1px 3px 0 gray;

}
#cat1 {
    border-radius: 10px;
    height: 400px;
    width: 400px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px 0 gray;
    background-size: cover;
}
#favs-container {
    width: 900px;
    margin: auto;
}
.fav-item{
    border-radius: 10px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin: 10px;
    box-shadow: 0 0 3px 0 gray;
}
@keyframes swipped {
    0%{
        transform-origin: 50% 150%;
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        transform-origin: 50% 150%;
        transform: rotate(60deg);
        opacity: 0;
    }
}
.swipped {
    animation: swipped .5s;
}
@keyframes swipped-left {
    0%{
        transform-origin: 50% 150%;
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        transform-origin: 50% 150%;
        transform: rotate(-60deg);
        opacity: 0;
    }
}
.swipped-left {
    animation: swipped-left .5s;
}